.css-17eq0hr {
    background-color: #4c85e4;
}
.st-bg {
    box-sizing: border-box;
    background: #ff3547;
}
.st-ay {
    border-bottom-left-radius: 0rem;
}
<style>
.st-ax {
    border-bottom-right-radius: 0rem;
}
<style>
.st-aw {
    border-top-right-radius: 0rem;
}

<style>
.st-av {
    border-top-left-radius: 0rem;